MYSQL_CONTAINER=mysql
MYSQL_USER=root
MYSQL_PASSWORD=CHANGEME

PROD_DB_PASSWORD=CHANGEME
NEXTLOUD_DB_PW=CHANGEME



GOTIFY_URL=https://gotify.example.com/message
GOTIFY_TOKEN=CHANGEME

GOTIFY_PRIORITY_SUCCESS=4
GOTIFY_PRIORITY_ERROR=8

RCLONE_CONFIG=/home/matthi/.config/rclone/rclone.conf
RESTIC_REPOSITORY=rclone:1blu:restic-repo
RESTIC_PASSWORD='YourResticPassword'

# Standard-Wiederherstellungspfad (optional)
# RESTORE_DEFAULT_PATH=./restore-out