MYSQL_CONTAINER=mysql
MYSQL_USER=backup
MYSQL_PASSWORD=IHR_MYSQL_PASSWORT

GOTIFY_URL=https://gotify.example.com/message
GOTIFY_TOKEN=IHR_GOTIFY_TOKEN

GOTIFY_PRIORITY_SUCCESS=4
GOTIFY_PRIORITY_ERROR=8


RCLONE_CONFIG=/root/.config/rclone/rclone.conf
RESTIC_REPOSITORY=rclone:1blu:restic-repo
RESTIC_PASSWORD='IHR_RESTIC_PASSWORT'

# Standard-Wiederherstellungspfad
RESTORE_DEFAULT_PATH=./restore-out
