[Unit]
Description=Docker Backup mit Restic
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=root
ExecStart=/opt/docker-backup/docker-backup.sh
